div.navbar.navbar-default.navbar-fixed-top(role='navigation')
  .container
    .navbar-header
      button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
        span.sr-only Toggle navigation
        span.icon-bar
        span.icon-bar
        span.icon-bar
      a.navbar-brand(href='/')
        img(src="/img/apps.png" width="50", height="50")
        span Tricks.JS
    .collapse.navbar-collapse
      ul.nav.navbar-nav.navbar-right
        - if (req.isAuthenticated())
          li.dropdown
            a(href="#" class="dropdown-toggle" data-toggle="dropdown")
              span.thumb-sm.avatar.pull-left
                if User.photo_profile
                  img(src=User.photo_profile, height=30, width=30)
                else
                  img(src="#{User.gravatar()}", height=30, width=30)
              | #{req.user.username} &nbsp;
              b.caret
            ul.dropdown-menu
              li
                a(href="/#{req.user.username}", title="Profile") Profile
              li
                a(href="/#{req.user.username}/tricks" title="Profile") My Trick
              li.divider
              li
                a(href="/logout", title="logout") Logout
        - else
          li(class=isActive('/login') ? 'active' : '')
            a(href="/login", title="Login") Login
          li(class=isActive('/signup') ? 'active' : '')
            a(href="/signup", title="Login") Create Account

