aside#nav.bg-black.aside-md.hidden-print
  section.vbox
    section.w-f.scrollable
      .slim-scroll(data-height='auto', data-disable-fade-out='true', data-distance='0', data-size='10px', data-color='#333333')
        .clearfix.wrapper.dk.nav-user.hidden-xs
          .dropdown
            a.dropdown-toggle(href='#', data-toggle='dropdown')
              span.thumb.avatar.pull-left.m-r
                img(src='http://www.gravatar.com/avatar/#{user_email_hash}')
                i.on.md.b-black
              span.hidden-nav-xs.clear
                span.block.m-t-xs
                  strong.font-bold.text-lt #{req.user.name}
                  b.caret
                span.text-muted.text-xs.block #{req.user.email}
            ul.dropdown-menu.animated.fadeInRight.m-t-xs
              span.arrow.top.hidden-nav-xs
              include ../users/dropdown-profile
        //
           nav
        nav.nav-primary.hidden-xs
          .text-muted.text-sm.hidden-nav-xs.padder.m-t-sm.m-b-sm Start
          ul.nav.nav-main(data-ride='collapse')
            li(class="#{isActive('dashboard')}")
              a.auto(href='/dashboard')
                i.i.i-statistics.icon
                span.font-bold Overview
            li(class="#{isActive('campaign')}")
              a.auto(href='#')
                span.pull-right.text-muted
                  i.i.i-circle-sm-o.text
                  i.i.i-circle-sm.text-active
                i.i.i-docs.icon
                span.font-bold Campaign
              ul.nav.dk
                li(class="#{isActive('campaign/index')}")
                  a.auto(href='/campaign/index')
                    i.i.i-dot
                    span All Campaign
                li(class="#{isActive('campaign/create')}")
                  a.auto(href='/campaign/create')
                    i.i.i-dot
                    span Add New
            li(class="#{isActive('influencer')}")
              a.auto(href='#')
                span.pull-right.text-muted
                  i.i.i-circle-sm-o.text
                  i.i.i-circle-sm.text-active
                i.fa.fa-users.icon
                span.font-bold Influencer
              ul.nav.dk
                li(class="#{isActive('influencer/index')}")
                  a.auto(href='/influencer/index')
                    i.i.i-dot
                    span All Infuencer
                li(class="#{isActive('influencer/create')}")
                  a.auto(href='/influencer/create')
                    i.i.i-dot
                    span Add New
            if req.user.level == req.user.roleAdmin()
              li(class="#{isActive('users')}")
                a.auto(href='/users/index')
                  span.pull-right.text-muted
                    i.i.i-circle-sm-o.text
                    i.i.i-circle-sm.text-active
                  i.fa.fa-user.icon
                  span.font-bold Users
    footer.footer.hidden-xs.no-padder.text-center-nav-xs
      a.btn.btn-icon.icon-muted.btn-inactive.pull-right.m-l-xs.m-r-xs.hidden-nav-xs(href='/logout')
        i.i.i-logout
      a.btn.btn-icon.icon-muted.btn-inactive.m-l-xs.m-r-xs(href='#nav', data-toggle='class:nav-xs')
        i.i.i-circleleft.text
        i.i.i-circleright.text-active
