extends ../layouts/default

block main
  .row
    .col-md-8
      form.form-horizontal.new-trick(method="post", action='/trick/create', role="form")
        input#_csrf(type='hidden', name='_csrf', value=_csrf)
        .form-group
          label.col-sm-2.control-label(for='title') Trick Title
          .col-sm-10
            input.form-control#title(type='text', name="title", value=trick.title, placeholder='Enter the title')

        .form-group
          label.col-sm-2.control-label(for='origin_url') Original Url
          .col-sm-10
            input.form-control#origin_url(type='text', name="origin_url", value=trick.origin_url, placeholder='Enter the url')

        .form-group
          label.col-sm-2.control-label(for='description') Description
          .col-sm-10
            textarea.form-control#desc(rows="5", name="description", placeholder='Give detailed description of the trick')=trick.description

        .form-group
          label.col-sm-2.control-label(for='tags') Tags
          .col-sm-10
            input.form-control#tags(type='text', data-role="tagsinput", name="tags", value=trick.tags, placeholder='Enter the tags, seperated with space')

        .form-group
          .col-sm-offset-2.col-sm-10
            button.m-r-md.btn.btn-primary(type='submit')
              i.fa.fa-save.text
                span.m-l-xs.text Save Trick

            a.btn.btn-cancel(href='/trick/me', title="cancel") Cancel
