<%- include ../include/header %>

  <h3> Hello <%= username %>!</h3>

  <p> This is a confirmation that the password for your account <%= email %> has just been changed.</p>

  <p style="text-align:center;margin-bottom:0.5rem; width:300px">
    <a href="<%= url_login %>" style="text-decoration:none;display:block;padding:16px;background:#e06666;font-weight:bold;font-size:16px;color:white" target="_blank">
    Login Now
    </a>
  </p>

<%- include ../include/footer %>
